<div class="guiaUser">
    <div class="supHeader p-3">
        <img src="../../assets/logotipo/part1_logo.png">
        <img src="../../assets/logotipo/part2_logo.png">
        <img src="../../assets/logotipo/logo.png" id="logo">
        
    </div>
    <!-- <section class="header pl-4">
        Manual de usuario:
    </section> -->
    
</div>
<div class="bod">      
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
              <a [routerLink]="['/HomeView']" routerLinkActive="router-link-active" >
                <span class="icon-home"></span> Home
              </a>
          </li>
          <li class="breadcrumb-item">
              <a href="#">Colores Personalizados</a>
          </li>
        </ol>
      </nav>
</div>
