p {
    margin-bottom: 0;
}

.chartdiv {
    padding-top: 0px !important;
    padding-right: 10px;
    width: 100%;
    height: 550px;
}

.chartdivB{
    display: none;
    height: 400px;
}

@media screen and (max-width: 1000px){
    .chartdiv{
        height: 430px;
        /* background-color: rgb(42, 42, 42); */
    }
    .text{
        display: none;
    }
    .fingerMove{
        width: 25px;
        height: 50px;
        
        transition: ease 1s all;
        background: rgba(255,255,255,0);
background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(85,162,221,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(85,162,221,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(85,162,221,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(85,162,221,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(85,162,221,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(85,162,221,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#55a2dd', GradientType=0 );

        /* display: none; */
        animation: animFinger ease-in-out 5s infinite;
    }   
    .fingerMove:hover{
        transition: ease 1s all;
        display: none;
    }
    @keyframes animFinger{
        0%{   
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
            
            border-top-left-radius: 25%;
            border-top-right-radius: 65%;
            transform: translateY(0px);   
background: rgba(255,255,255,0);
background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(85,162,221,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(85,162,221,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(85,162,221,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(85,162,221,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(85,162,221,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(85,162,221,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#55a2dd', GradientType=0 );

        }
        70%{
            transform: translateY(250px);
        }
        100%{   
            
            border-top-left-radius: 65%;
            border-top-right-radius: 25%;
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
            transform: translateY(0px);         
background: rgba(85,162,221,1);
background: -moz-linear-gradient(top, rgba(85,162,221,1) 0%, rgba(255,255,255,0) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(85,162,221,1)), color-stop(100%, rgba(255,255,255,0)));
background: -webkit-linear-gradient(top, rgba(85,162,221,1) 0%, rgba(255,255,255,0) 100%);
background: -o-linear-gradient(top, rgba(85,162,221,1) 0%, rgba(255,255,255,0) 100%);
background: -ms-linear-gradient(top, rgba(85,162,221,1) 0%, rgba(255,255,255,0) 100%);
background: linear-gradient(to bottom, rgba(85,162,221,1) 0%, rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55a2dd', endColorstr='#ffffff', GradientType=0 );

        }
    }
}

@media screen and (max-width: 800px){
    .chartdiv{
        height: 290px;
        padding-right: 35px;
        padding-left: 35px;
        
        /* background-color: rgb(42, 42, 42); */

    }
    #selectordiv{
        height: 240px !important;
        top: 0px !important;
    }
    .fingerMove{
        width: 25px;
        height: 50px;
        background-color: steelblue;
        animation-name: animFinger ease-in-out 2s
        /* display: none; */
    }   
   
}

@media screen and (max-width: 600px){
    .chartdiv{
        display: none;
        /* background-color: rgb(42, 42, 42); */

    }
    .chartdivB{
        display: flex;
    }
    .fingerMove{
        width: 25px;
        height: 50px;
        background-color: steelblue;
        animation-name: animFinger ease-in-out 2s;
        /* display: none; */
    }
    

}



#selectordiv {
    width: 175px;
    border: solid 1px white;
    border-style: groove;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 7px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: whitesmoke;
    position: absolute;
    animation: ease 1s;
    top: 110px;
    margin-left: 25px;
    animation-name: move;
    z-index: 300;
    height: 270px;
    overflow: hidden;
}

.RangeSelector{
    background-color: steelblue;
}
/* 

@keyframes move{
    0%{
        left: -100px;
    }
    95%{
        left: 15px;
    }
    100%{
        left: 0px;
    }
} */
