p {
    margin-bottom: 0;
}

.chartdiv {
    padding-top: 0px !important;
    padding-right: 10px;
    width: 100%;
    height: 550px;
}

@media screen and (max-width: 1000px){
    .chartdiv{
        height: 430px;
        /* background-color: rgb(42, 42, 42); */

    }
}


#selectordiv {
    width: 175px;
    border: solid 1px white;
    border-style: groove;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 7px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: whitesmoke;
    position: absolute;
    animation: ease 1s;
    top: 110px;
    margin-left: 25px;
    animation-name: move;
    z-index: 300;
}

.RangeSelector{
    background-color: steelblue;
}
/* 

@keyframes move{
    0%{
        left: -100px;
    }
    95%{
        left: 15px;
    }
    100%{
        left: 0px;
    }
} */
