<div class="hi container-fluid">
    <span class="icon-off" id="off" title="Cerrar Sesión" (click)="closeSession()">
  </span> Bienvenido: {{env.nameUser}} | OSTRATEK </div>
<div class="men">
    <div class="siemb"> <span class="icon-braille"></span> Siembra: {{env.codSiembra}} </div>
    <div class="dataResponsive" *ngFor="let dato of InterISsp_031e">
        <div class="cam">
            <span class="icon-circle-empty"></span> Camaronera: {{InterISsp_031e[0].camaron}}
        </div>
        <div class="cam">
            <span class="icon-calendar-1"></span> Fecha Inicio: {{InterISsp_031e[0].fecha | date: 'shortDate'}}
        </div>
        <div class="cam">
            <span class="icon-calendar-1"></span> Fecha Fin: {{InterISsp_031e[0].fechaven | date: 'shortDate'}}
        </div>
    </div>
</div>

<div class="allGeneralCont container-fluid animated fadeInLeft slow">
    <div class="minSett">
        <div class="buttonMin" (click)="minimizar()" id="Minimizar" title="Minimizar">
            <span class="icon-eye-2"></span>
        </div>
        <div class="buttonMin" id="volver" (click)="navLink()" title="Volver Atras">
            <span class="icon-left-open-2"></span>
        </div>
    </div>
    <!-- dashboard 1  [Inicio]-->
    <div class="dash" id="dashA">
        <!-- dashboard 1a [Inicio]-->
        <!-- <div class="inp">
            <div class="inpts">
                <label for="siembra">
          <span class="icon-lock-2"></span>
          Siembra:
        </label>
                <input type="text" id="siembra" readonly [value]="env.codSiembra" />
            </div>

            <div class="inpts" *ngFor="let datos of InterISsp_031e">
                <label for="cam">
          <span class="icon-braille"></span>
         Camaronera:
        </label>
                <input type="text" id="camaronera" readonly value="{{InterISsp_031e[0].camaron}}" />
            </div>
            <div class="inpts">
                <label for="fSiembra">
          <span class="icon-calendar-2"></span>
          Fecha Siembra Inic:
        </label>
                <input type="text" id="fSiembra" readonly value="{{InterISsp_031e[0].fecha | date: 'shortDate'}}" />
            </div>
            <div class="inpts">
                <label for="fSiembraven">
          <span class="icon-calendar-2"></span>
            Fecha Siembra Fin.:
          </label>
                <input type="text" id="fSiembraven" readonly value="{{InterISsp_031e[0].fechaven | date: 'shortDate'}}" />
            </div>
        </div> -->

        <!-- dashboard 1a  [Fin]-->
        <!-- dashboard 1b  [Inicio]-->

        <div class="inp">
            <app-table id="tables"></app-table>


        </div>

        <!-- dashboard 1b  [Fin]-->
    </div>
    <!-- dashboard 1  [Fin]-->

    <!-- ææææææææææææææææææææææææææææææææææææææææ -->

    <!-- dashboard 2  [Inicio]-->

    <div class="dash" id="dashB">

        <div class="charA">
            <div class="viewsChar">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left display d-flex align-content-center" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <span class=" icon-resize-vertical-2"></span> <p style="margin: 0px;" class="ps">Escala de parametros:</p>
                  </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="inpRange">
                                    <label> Peso Real / Peso Proy. </label>
                                    <input type="range" min="1" max="100" class="slider" (change)="changeCalcA(valorA )" value="{{env.escA}}" (input)="valorA = $event.target.value" />

                                </div>
                                <div class="inpRange">
                                    <label> Alim. Real / Alim Proy. </label>
                                    <input type="range" min="1" max="100" (change)="changeCalcB(valorB)" value="{{env.escB}}" (input)="valorB = $event.target.value" class="slider" />

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="viewsChar">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left display d-flex align-content-center" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseOne">
                    <span class="icon-palette"></span>  <p style="margin: 0px;" class="ps">Colores de parametros:</p>
                  </button>
                            </h2>
                        </div>

                        <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="colorDefect" id="colorDefect">
                                </div>
                                <div class="stt">
                                    <div class="colorsParams">
                                        <label for="Almreal">
                        <div class="pro">
                          Alimentación Real:
                          <div class="colorIn"></div>
                          <input (input)="_colorsC = $event.target.value" type="color" name="colorC" id="Almreal" oncha class="colors" />
                        </div>
                      </label>
                                        <label for="AlmProy">
                        <div class="pro">
                          Alimentación Proy.:
                          <div class="colorIn"></div>
                          <input (input)="_colorsD = $event.target.value" type="color" id="AlmProy" name="colorD" class="colors" />
                        </div>
                      </label>

                                        <label for="Peso_Proyectado">
                          <div class="pro">
                            Peso Proyectado:
                            <div class="colorIn"></div>
                            <input (input)="_colorsA = $event.target.value" type="color" name="colorA" class="colors" id="Peso_Proyectado" />
                          </div>
                        </label>
                                        <label for="Peso_Real">
                          <div class="pro">
                            Peso Real:
                            <div class="colorIn"></div>
                            <input (input)="_colorsB = $event.target.value" type="color" name="colorB" class="colors" id="Peso_Real" />
                          </div>
                      </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



        </div>
        <div class="charB">
            <app-grafica [RecValorA]="valorA" [RecValorB]="valorB" [ColorA]="_colorsA" [ColorB]="_colorsB" [ColorC]="_colorsC" [ColorD]="_colorsD"></app-grafica>
        </div>
        <!-- dashboard 2  [Fin]-->


    </div>