* {
    /*color-rendering: gray;*/
}

.inp {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.c {
    width: 15px;
    height: 15px;
}

.tagColor {
    width: 70px;
    height: auto;
    padding: 5px;
    border: solid 0.5px gray;
    cursor: pointer;
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.men {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 10pt;
}

.dataResponsive {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cam {
    margin-left: 10px;
}

.allGeneralCont {
    border: solid 1px white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 9pt;
}

input {
    width: 100%;
    border: none;
    border-bottom: solid 1px gray;
    background-color: transparent !important;
}

label {
    margin-bottom: 0px !important;
}

.inpts {
    margin-bottom: 10px;
    width: 48%;
}

.buttonMin {
    background-color: lightblue;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10pt;
    color: white;
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0.4;
    z-index: 20000;
    transition: ease all 1.5s;
}

.buttonMin:hover {
    transition: ease all 0.5s;
    opacity: 0.8;
    border-radius: 7px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
}

#volver {
    margin-top: 35px;
}

.pro {
    color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
    border-radius: 0;
    padding: 5px;
    font-size: 7pt;
    cursor: pointer;
    transition: ease all 2.5s;
}

.close {
    position: relative;
    width: 20px;
    height: 20px;
    top: -12px;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: solid 1px white;
    background-color: #444444;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 6pt;
}

.colorDefect {
    width: 100%;
    padding: 15px;
    border: solid 1px gray;
    border-radius: 5px;
    transition: ease all 0.5s;
    display: flex;
    overflow-x: auto;
}

.pro:hover {
    transition: ease all 0.5s;
    border: solid 1px white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    /* background-color: #d4d4d4; */
}

.viewsChar {
    display: flex;
    flex-direction: column;
}

.men {
    background-color: steelblue;
    color: white;
    width: 100%;
    height: auto;
    padding: 15px;
}

.title {
    color: steelblue;
}

p {
    margin-bottom: 0px !important;
}

.stt {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#off {
    color: steelblue;
    transition: ease all 0.5s;
}

#off:hover {
    color: rgb(255, 187, 0);
    transition: ease all 0.5s;
    cursor: pointer;
}

.hi {
    background-color: #444444;
    color: white;
    padding: 1 !important;
}

.colorsParams {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.ps {
    font-size: 10pt;
    margin-top: 2px !important;
}

#headingOne {
    padding: 0px;
}

.colors {
    width: 0px;
    height: 0px;
    border: none;
    cursor: pointer;
    outline-width: 0;
    outline-style: none;
    opacity: 0;
}

.colorIn {
    width: 30px;
    height: 30px;
    border: solid 0.5px rgb(206, 206, 206);
    transition: ease all 0.5s;
    border-radius: 100%;
}

.colorIn:hover {
    transition: ease all 0.5s;
    /* width: 35px;
    height: 35px; */
    border: solid 0.5px rgb(156, 156, 156);
    cursor: pointer;
}

.buttonMin:hover {
    transition: ease all 0.6s;
    background-color: orangered;
}

.charA {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-shrink: initial;
    height: auto;
}

.viewsChar {
    width: 50%;
    height: auto;
    /*background-color: lightblue;*/
}

.charB {
    height: 450px;
}


/* Animacion de Opacidad INICIO */

@keyframes hidElements {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes showElementes {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*
  /Animacion de Opacidad Fin/ */


/* /Animacion de Min Inicio/ */

@keyframes widthOutPerfil {
    0% {
        width: 48%;
        height: 500px;
        /* border: solid 1px #e0e0e0; */
    }
    100% {
        width: 25px;
        height: 25px;
        /* border: solid 0px #e0e0e0; */
    }
}


/* /Animacion de Min Fin/ */


/* /Animacion de Max Inicio/  */

@keyframes widthInPerfil {
    0% {
        width: 25px;
        height: 25px;
        border: solid 0px #e0e0e0;
    }
    100% {
        width: 48%;
        height: 500px;
        border: solid 1px #e0e0e0;
    }
}


/* /Animacion de Max Fin/ */

.slider::after {
    content: 100;
    color: gray;
    font-size: 9pt;
}

.slider::before {
    content: 0;
    color: gray;
    font-size: 9pt;
}

#dashA {
    width: 0%;
}

#dashB {
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.value {
    color: steelblue;
}

@media (max-width: 1085px) {
    #dashA {
        display: none;
    }
    #dashB {
        width: 100%;
    }
    .ps {
        display: none;
    }
    .charA {
        display: flex;
        flex-direction: column;
    }
    .viewsChar {
        width: 100%;
    }
}