<div class="allGeneralCont container-fluid animated fadeInLeft slow">
    <div class="buttonMin">
        <span class="icon-window-minimize"></span>
    </div>
    <!-- dashboard 1  [Inicio]-->
    <div class="dash" id="dashA">
        <!-- dashboard 1a [Inicio]-->
        <div class="inp">
            <div class="inpts">
                <label for="siembra">
          <span class="icon-lock-2"></span>
          Siembra:
        </label>
                <input type="text" id="siembra" readonly [value]="env.codSiembra" />
            </div>

            <div class="inpts" *ngFor="let datos of InterISsp_031e">
                <label for="cam">
          <span class="icon-braille"></span>
          Camaronera:
        </label>
                <input type="text" id="camaronera" readonly value="{{InterISsp_031e[0].camaron}}" />
            </div>
            <div class="inpts">
                <label for="fSiembra">
          <span class="icon-calendar-2"></span>
          Fecha Siembra Inic:
        </label>
                <input type="text" id="fSiembra" readonly value="{{InterISsp_031e[0].fecha | date: 'shortDate'}}" />
            </div>
            <div class="inpts">
                <label for="fSiembraven">
          <span class="icon-calendar-2"></span>
          Fecha Siembra Fin.:
        </label>
                <input type="text" id="fSiembraven" readonly value="{{InterISsp_031e[0].fechaven | date: 'shortDate'}}" />
            </div>
        </div>

        <!-- dashboard 1a  [Fin]-->
        <!-- dashboard 1b  [Inicio]-->

        <div class="inp">
            <app-table></app-table>


        </div>

        <!-- dashboard 1b  [Fin]-->
    </div>
    <!-- dashboard 1  [Fin]-->

    <!-- ææææææææææææææææææææææææææææææææææææææææ -->

    <!-- dashboard 2  [Inicio]-->

    <div class="dash">

        <div class="charA">
            <div class="viewsChar">

            </div>
            <div class="viewsChar">
                <p class="title"> <span class="icon-palette"></span> Colores de parametros: </p>
                <div class="stt">
                    <div class="colorsParams">
                        <label for="Peso_Proyectado">
              <div class="pro">
                Alimentación Proyectada:
                <input type="color" name="colorA" oncha  class="colors" />
              </div>
            </label>
                        <label for="Peso_Proyectado">
              <div class="pro">
                Alimentación Real: <input type="color" name="colorB" class="colors" />
              </div>
            </label>
                    </div>
                    <div class="colorsParams">
                        <label for="Peso_Proyectado">
              <div class="pro">
                Peso Proyectado: <input type="color" name="colorA" class="colors" id="Peso_Proyectado" />
              </div>
            </label>
                        <label for="Peso_Real">
              <div class="pro">
                Peso Real:
                <input type="color" name="colorB" class="colors" id="Peso_Real" />
              </div>
            </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="charB">
            <!-- <app-graficas></app-graficas> -->
        </div>

    </div>

    <!-- dashboard 2  [Fin]-->


</div>